<a href="https://colab.research.google.com/github/bibekuchiha/The-Data-Science-Workshop/blob/master/python/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Import the pandas package, as shown in the following code snippet:

In [0]:
import pandas as pd

2. Create a new variable called csv_url containing the URL to the raw CSV file:

In [0]:
csv_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/overall_topten_2012-2013.csv'

3. Load the CSV file into a DataFrame using the pandas .read_csv() method. The first row of this CSV file contains the name of the file, as you can see in the following screenshot. You will need to exclude it by using the skiprows=1 parameter. Save the result in a variable called csv_df and print it:

In [9]:
csv_df = pd.read_csv(csv_url, skiprows = 1)
csv_df.head()

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530

[5 rows x 4 columns]

4. Create a new variable called tsv_url containing the URL to the raw TSV file:

In [0]:
tsv_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/overall_topten_2012-2013.tsv'

5. Load the TSV file into a DataFrame using the pandas .read_csv() method and specify the skiprows=1 and sep='\t' parameters. Save the result in a variable called tsv_df and print it:

In [13]:
tsv_df = pd.read_csv(tsv_url, skiprows = 1, sep='\t')
print(tsv_df)

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530
5       6  ...                     479
6       7  ...                     383
7       8  ...                     351
8       9  ...                     344
9      10  ...                     335

[10 rows x 4 columns]

6. Create a new variable called xlsx_url containing the URL to the raw Excel spreadsheet:

In [0]:
xlsx_url = 'https://github.com/PacktWorkshops/The-Data-Science-Workshop/blob/master/Chapter01/Dataset/overall_topten_2012-2013.xlsx?raw=true'

7. Load the Excel spreadsheet into a DataFrame using the pandas .read_excel() method. Save the result in a variable called xlsx_df and print it:

In [15]:
xlsx_df = pd.read_excel(xlsx_url)
print(xlsx_df)
#By default, .read_excel() loads the first sheet of an Excel spreadsheet. 
#In this example, the data is actually stored in the second sheet.

Empty DataFrame
Columns: [This tab doesn't contain the data we are looking for]
Index: []

Load the Excel spreadsheet into a Dataframe using the pandas .read_excel() method and specify the skiprows=1 and sheetname=1 parameters. Save the result in a variable called xlsx_df1 and print it:

In [17]:
xlsx_df1 = pd.read_excel(xlsx_url, skiprows= 1, sheet_name= 1)
print(xlsx_df1)

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530
5       6  ...                     479
6       7  ...                     383
7       8  ...                     351
8       9  ...                     344
9      10  ...                     335

[10 rows x 4 columns]

Great job! In this exercise, we learned how to load the Top 10 Postcodes for First Home Buyer Grants dataset from different file formats.